<h2>Your App: Schemas</h2>
<h2>Schemas</h2>
<p>Search form is Not Implemented.</p>
<table>
  <thead>
    <tr>
      <th>Table Name</th>
      <th>Column Type</th>
      <th>Column Name</th>
    </tr>
    <tr>
      <th><input type="search" placeholder="Table Match"></th>
      <th>
        <%= select_tag "hoge", options_for_select(Skmz::Column::TYPES), include_blank: true %>
      </th>
      <th><input type="search" placeholder="Column Match"></th>
    </tr>
  </thead>
  <% @schema.tables.each do |table| %>
    <tbody>
      <% table.columns.each_with_index do |column, i| %>
        <tr>
          <% if i.zero? %>
            <td><%= table.name %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= column.type %></td>
          <td><%= column.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
