<!DOCTYPE html>
<html>
<head>
  <title>Sukumizu</title>
  <%= stylesheet_link_tag 'skmz/application' %>
  <%= javascript_include_tag 'skmz/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
